<% include ../views/partials/header %>

<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Name: <%= user.displayName %></p>
<p>Token: <%= user.token %></p>

<% include ../views/partials/footer %>